.box-card-class {
    min-height: 80px;
    min-width: 80px;
    max-height: 80px;
    max-width: 80px;
    margin-top: 5px
}

.main-card {
    min-height: 900px;
    min-width: 620px;
    max-height: 900px;
    max-width: 620px;
}

.inner-card {
    margin-top: 5px;
    min-height: 390px;
    max-height: 390px;
}

.card-name {
    display: block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-elements {
    margin: 5px;
}

.background-ghost {
    background-color: dodgerblue;
}